.tooth {
    width: 50px;
    height: 50px;
    position: absolute;
}
#button0 {
    margin-top: 310px;
    margin-bottom: 30px;
    margin-left: 838px;
    margin-right: 5px;
}
#button1 {
    margin-top: 390px;
    margin-bottom: 30px;
    margin-left: 850px;
    margin-right: 5px;
}
#button2 {
    margin-top: 470px;
    margin-bottom: 30px;
    margin-left: 827px;
    margin-right: 5px;
}
#button3 {
    margin-top: 550px;
    margin-bottom: 30px;
    margin-left: 755px;
    margin-right: 5px;
}
#button4 {
    margin-top: 600px;
    margin-bottom: 30px;
    margin-left: 663px;
    margin-right: 0px;
}
#button5 {
    margin-top: 600px;
    margin-bottom: 30px;
    margin-left: 525px;
    margin-right: 5px;
}
#button6 {
    margin-top: 550px;
    margin-bottom: 30px;
    margin-left: 436px;
    margin-right: 5px;
}
#button7 {
    margin-top: 470px;
    margin-bottom: 0px;
    margin-left: 360px;
    margin-right: 5px;
}
#button8 {
    margin-top: 390px;
    margin-bottom: 0px;
    margin-left: 336px;
    margin-right: 5px;
}
#button9 {
    margin-top: 310px;
    margin-bottom: 0px;
    margin-left: 360px;
    margin-right: 5px;
}
#name {
    color :red;
}